/* Initialisation */
* {
    box-sizing: border-box;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    color: rgb(39, 4, 4);
    overflow-x: hidden;
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
}


#introduction {
    /* border: 10px solid black; */
    height: auto;
    background-color: rgb(241, 236, 188);
}

/* Bio + photo */
#myName {
    display: inline;
    font-family: 'Orbitron';
    font-size: 6vw;
    font-weight: bold;
}

#bioContainer {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#photocontainer {
    text-align: center;
    padding-left: 20px;
    padding-top: 80px;
    
}
#myPhoto {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
#aboutMe {
    text-align: left;
    /* border: 2px solid red; */
    flex-grow: 8;
    font-size: 3vw;
    padding: 50px;
    color:rgb(1, 24, 85);
}

#greeting {
    font-size: 9vw;
    font-weight: bold;
}

@media screen and (orientation: portrait) {
    #bioContainer {
        flex-direction: column;
        left: 0;
    }
    #photocontainer {
        padding: 0;
    }
    #myPhoto {
        width: 400px;
        height: 400px;
    }
    .navmenuitem {
        font-size: 20px;
    }
    
}
@media screen and (orientation: landscape) {
    #bioContainer {
        flex-direction: row;
    }
}


/* Important highlighted stuff */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}
@media screen and (orientation: portrait) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
}
.menuitem {
    width: 250px;
    height: 250px;
    border-radius: 20%;
    box-shadow: 5px 5px 10px rgb(2, 0, 0);
    transition-duration: 0.2s;
    background-color: rgb(172, 46, 46);
    text-align: center;
}
#dummy {
    position: relative;
    top: 4000px;
    left: 0;
    width: 0;
    border: 20px solid green;
}

.menuitem:hover {
    transform: scale(1.05, 1.05);
    transition-duration: 0.2s;
}

#menu1 {
    background-color: rgb(25, 197, 91);
}

#menu2 {
    background-color: rgb(231, 228, 19);
}

#menu3 {
    background-color: rgb(228, 80, 35);
}

.menuitem {
    margin: 15px 15px;
}


.menu span {
    position: relative;
    top: 60px;
    font-size: 100px;
}
.menu div div {
    position: relative;
    top: 27%;
    font-weight: bold;
    font-size: 20px;
    transform-style: preserve-3d;
    
}


/* Navigation menu */
.navmenu {
    position: relative; 
    display: inline;
    /* top: -100px; */
    /* border: 2px solid green;     */
}

.navmenuitem {
    float: right;
    width: 15%;
    text-align: center;
    margin-right: 20px;
    /* padding: 10px; */
    height: 4vw;
    line-height: 4vw;
    font-family: 'Orbitron';
    font-weight: bold;
    font-size: 1.5vw;
    border-bottom: 4px solid transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.navmenuitem:hover {
    background-color: rgb(245, 234, 137); 
    border-bottom: 4px solid blue;
    cursor: pointer;
}

/* Projects section */

#projects {
    /* border: 10px solid red; */
    height: auto;
    background-color: rgb(142, 217, 223);
    text-align: right;
    padding-top: 30px;
}

#projectHeading {
    display: block;
    font-family: 'Orbitron';
    font-size: 6vw;
    font-weight: bold;
    margin-right: 30px;
}

.listitem {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    /* border: 2px solid red; */
    justify-content: center;
    text-align: left;
}

.listitem div {
    /* border: 5px solid green; */
    margin: 20px;
    padding: 0;
    text-align: center;
}
.listitem h2 {
    font-size: 3vw;
    font-family: 'Orbitron';
}
.listitem .info {
    text-align: center;
    flex-shrink: 100;
    line-height: 35px;
    font-size: 30px;
}

.listitem .image img {
    /* transform: scale(0.5, 0.5); */
    text-align: center;
    width: 70%;
    height: 100%;
    border-radius: 4%;
    margin: 0;
    /* padding: 0; */
}
#proj1 .image {
    text-align: left;
}

#proj1 img {
    width: 600px;
    height: 600px;
}

#proj2 img {
    width: 600px;
    height: 400px;
}
#proj3 img {
    width: 600px;
    height: 400px;
}

@media screen and (orientation: portrait) {
    #proj1 .image{
        text-align: center;
    }
    #proj1, #proj3 {
        flex-direction: column-reverse;
    }
    #proj2 {
        flex-direction: column;
    }
    #projects {
        text-align: center;
    }
    .listitem h2 {
        font-size: 4vw;
    }
}


#cpstuff {
    /* border: 10px solid red; */
    height: auto;
    background-color: rgb(238, 236, 147);
    text-align: right;
    padding-top: 30px;
}

#cpstuffheading {
    display: block;
    font-family: 'Orbitron';
    font-size: 6vw;
    font-weight: bold;
    margin-right: 30px;
}


#cpstuff1 .image {
    text-align: left;
}

#cpstuff1 img {
    width: 600px;
    height: 400px;
}

#cpstuff2 img {
    width: 600px;
    height: 400px;
}
#cpstuff3 img {
    width: 600px;
    height: 600px;
}

@media screen and (orientation: portrait) {
    #cpstuff1 .image{
        text-align: center;
    }
    #cpstuff1, #cpstuff3 {
        flex-direction: column-reverse;
    }
    #cpstuff2 {
        flex-direction: column;
    }
    #cpstuff {
        text-align: center;
    }
    
}